<div style="display: flex;">
    <ul id="messages"style=" list-style-type: none; margin: 0; padding: 0; "></ul>

  <form id="form" action="" >
    <input id="input" autocomplete="off" />
    <button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
  </div>


